<% extra_head_content << capture do -%>
  <%= javascript_include_tag "rails.js" %>
  <%= csrf_meta_tag %>
<% end %>



<div class="document_viewer" id="cover_container">

  <a href="<%= catalog_path(params[:id], :viewing_context=>'browse') %>" class="browse toggle">Switch to browse view</a>
  <h2>Video</h2>
  <%= render :partial => "video_player/content" %>

  <h2>Review Video</h2>
  <%= form_tag url_for(:action=>"update", :controller=>"reviewers", :content_type=>"archival_video"),
      :method             => "put",
      :id                 => "asset_review",
      "data-resourceType" => "archival_video",
      "accept-charset"    => "utf-8" do %>

    <dt>
      <label for="license">License</label>
    </dt>
    <dd class="field">
      <%= fedora_select(@document_fedora,"assetReview", [:license], :choices=>[nil,"Publicly Available", "Rockhall Use Only", "No Usage Granted"]).html_safe %>
    </dd>

    <dt>
      <label for="abstract">Abstract</label>
    </dt>
    <dd class="field">
      <%= fedora_text_area(@document_fedora, "assetReview", [:abstract], :multiple=>FALSE) %>
    </dd>

    <dt>
      <label for="priority">Priority</label>
    </dt>
    <dd class="field">
      <%= fedora_select(@document_fedora, "assetReview", [:priority], :choices=>["low","normal","high"]).html_safe %>
    </dd>

    <dt>
      <label for="completed">Complete?</label>
    </dt>
    <dd class="field">
      <%= fedora_select(@document_fedora, "assetReview", [:complete], :choices=>["yes","no"]).html_safe %>
    </dd>

    <%= submit_tag 'Submit Review', {:id => "submitReview"} %>
    <span class="back_to_cat"><%= link_back_to_catalog :label=>"Cancel and return to search results" %></span>
  <% end %>



</div>
