<div class="well"><h1><%= @afdoc.title %></h1></div>

<% player_column << capture do %>
  <%= render_video_player({:model => @afdoc}) %>
<% end %>

<%= form_for @afdoc, :url => archival_video_path, :html => {:class => 'form-vertical document_edit'} do |f| %>

  <fieldset id="required_title">
    <legend>Required Title</legend>
    <p class="legend-caption">A single, main title is required.  This may be the title of the event or program, it may be the title as it appears on the source tape</p>
    <%= f.label "Main Title", :class=>"field" %>
    <%= f.text_field :title, :name => "document_fields[title]", :class => "edit span6" %>
  </fieldset>

  <fieldset id="reviewer_fields">
    <legend>Reviewer Fields</legend>
    <p class="legend-caption">These are the optional fields for the reviewer to fill-in</p>
    <%= f.label :license, :class=>"field" %>
    <%= f.select :license, [nil,"Publicly Available", "Rockhall Use Only", "No Usage Granted"],
                 {},
                 { :name=>"document_fields[license][]", :id=>"document_fields_license", :class=>"edit" } %>

    <%= f.label :abstract, :class=>"field" %>
    <%= f.text_area :abstract, :name=>"document_fields[abstract][]", :value => @afdoc.abstract.first, :class=>"edit span5" %>
    <%= f.label :priority, :class=>"field" %>
    <%= f.select :priority, ["low", "normal", "high"],
                 {},
                 { :name=>"document_fields[priority][]", :id=>"document_fields_priority", :class=>"edit" } %>
    <%= f.label :complete, :class=>"field" %>
    <%= f.select :complete, ["yes","no"],
                 {},
                 { :name=>"document_fields[complete][]", :id=>"document_fields_complete", :class=>"edit" } %>

  </fieldset>

  <%= f.hidden_field :date_updated, { :name=>"document_fields[date_updated][]", :id=>"document_fields_date_updated", :value=>DateTime.now.strftime("%Y-%m-%d") } %>
  <%= f.hidden_field :reviewer, { :name=>"document_fields[reviewer][]", :id=>"document_fields_reviewer", :value=>current_user.email } %>
  <%= f.submit "Save Changes", :class => "btn-primary btn-large" %>

<% end %>

<% navbar_items << capture do %>
  <%= render_user_navbar("reviewers") %>
<% end %>