<div class="tabbable tabs-below">
  <div id="player" class="tab-content well well-inverse">
    <%= image_tag("rockhall/pre-screen.png", :class => "media-object") %>
  </div>
  <% if @afdoc.videos[:access].count > 1 %>
    <ul id="playlist" class="nav nav-tabs">
      <li><a href="#">${title}</a></li>
    </ul>
  <% end %>
</div>

<script type="text/javascript">
  $f("player", "<%= root_path %>flowplayer-3.2.9.swf", {
  // the playlist
  playlist: [
    <%= flowplayer_playlist %>
  ],

  // each clip on the playlist uses the rtmp plugin
  clip: {
    provider: 'rtmp'
  },

  // the rtmp plugin
  plugins: {
    rtmp: {
      url:              '<%= root_path %>flowplayer.rtmp-3.2.9.swf',
      netConnectionUrl: 'rtmp://<%= RH_CONFIG["wowza_host"] %>/vod'
    },

    // include playlist buttons in the controlbar
    controls: {
      playlist: true,
      tooltips: {
        buttons: true,
      },
      tooltipColor: '#EFD2D2',
      tooltipTextColor: '#BE4646'
    }
  }

  }).playlist("#playlist");
  $("#playlist").show();

</script>