<%# if vals is zero we create an empty array to loop over for output %>
<% if vals.count == 0 %>
  <% vals = [''] %>
<% end %>
<% required = false if defined?(required).nil? %>
<% autocomplete ||= "on" %>
<% span ||= "span6" %>
<% vals.each_with_index do |v, index| %>
  <div <% if index == 0%> id="additional_<%= t %>_clone" <% end %>>
    <div class="control-group form-inline">
      <%= f.text_field t.to_sym, :id=>"#{t}_#{index}", :name=>"document_fields[#{t}][]", 
          :value=>v, :class=>"edit #{span}", :required=>required, :autocomplete => autocomplete %>
      <%= render_adder_button(t) if index == 0 and multiple %>
      <%= render_remover_button(t) if index > 0 and multiple %>
    </div>
  </div>
<% end %>
<div id="additional_<%= t %>_elements"></div>
