<h1><%= @video.name.first %></h1>

<%= render_submission_workflow_step -%>

<% navbar_items << capture do %>
  <li>
    <%= link_to('<i class="icon-arrow-left"></i> Parent'.html_safe, url_for_parent_video ) %>
  </li>
  <%= workflow_dropdown("external_videos") %>
  <%= render_user_navbar("external_videos") %>
<% end %>

