<%= form_for @afdoc, :url => assign_archival_video_path, :html => {:class => "form-inline document_edit"} do |f| %>

  <fieldset id="archival_fields"> 
    <legend>Archival Information</legend>
    <p class="legend-caption">
      Link this item to an archival collection and series within Archivists' Toolkit
    </p>
  
    <div id="collection" class="control-group">
      <%= f.select :collection,
             Artk::Resource.finding_aids.collect { |fa| [fa.findingAidTitle, fa.eadFaUniqueIdentifier] },
             {:include_blank => "", :selected => @afdoc.ead_id },
             {:class => "combobox", :data => { :placeholder => "Enter collection name" } } %>
    </div>

    <div id="archival_series" class="control-group">
      <%= f.select :archival_series,
             components_for_select,
             {:include_blank => "", :selected => @afdoc.ref_id },
             {:class => "combobox", :data => { :placeholder => "Enter archival series name" } } %>
    </div>

  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= f.submit "Save Archival Information", :class => "btn btn-primary" %>

<% end %>

<%= form_for @afdoc, :url => archival_video_path(:wf_step=>params[:wf_step]), :html => {:class => "form-vertical document_edit"} do |f| %>

  <fieldset id="accessions"> 
    <legend>
      Accessions <%= render_add_nodes_button "accession" %>
    </legend>
    <p class="legend-caption">
      Click the button to add accession numbers to this item
    </p>
    <div id="accessions_form">
      <%= render :partial => "nodes/edit/accession", :locals => { :document => @afdoc } %>
    </div>
  </fieldset>

  <fieldset id="additional_collections">
    <legend>
      Additional Collections <%= render_add_nodes_button "additional_collection" %>
    </legend>
    <p class="legend-caption">
      Click the button to add additional collections to this item.
      These do not have to be existing collections defined with an EAD in AT.
    </p>
    <div id="additional_collections_form">
      <%= render :partial => "nodes/edit/additional_collection", :locals => { :document => @afdoc } %>
    </div>
  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= f.submit "Save Changes", :class => "btn btn-primary" %>

<% end %>
