<%= form_tag url_for(:action=>"update", :controller=>"assets", :content_type=>"archival_video"),
      :method             => "put",
      :id                 => "descMetadata",
      "data-resourceType" => "archival_video",
      "accept-charset"    => "utf-8" do %>

  <fieldset id="document_fields">
    <dl>
      <%= display_field([:main_title], {:size=>60 }) %>
      <%= display_field([:alternative_title], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:chapter], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:episode], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:label], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:segment], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:subtitle], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:track], { :multiple=>true, :size=>60 }) %>
      <%= display_field([:translation], { :multiple=>true, :size=>60 }) %>

      <dt>
        <label for="summary">Summary</label>
      </dt>
      <dd class="field">
        <%= fedora_text_area(@document_fedora, "descMetadata", [:summary], :multiple=>FALSE) %>
      </dd>

      <dt>
        <label for="contents">Parts List</label>
      </dt>
      <dd class="field">
        <%= fedora_text_area(@document_fedora, "descMetadata", [:parts_list], :multiple=>FALSE) %>
      </dd>

      <%= display_field([:lc_subject], {:name=>"LC Subject", :multiple=>true}) %>
      <%= display_field([:lc_name], {:name=>"LC Name", :multiple=>true}) %>
      <%= display_field([:rh_subject], {:name=>"Rockhall Subject", :multiple=>true}) %>

      <%= display_field([:getty_genre], {:multiple=>true}) %>
      <%= display_field([:lc_genre], {:name=>"LC Genre", :multiple=>true}) %>
      <%= display_field([:lc_subject_genre], {:name=>"LC Subject Genre", :multiple=>true}) %>

      <%= display_field([:event_series], {:inline=>true}) %>
      <%= display_field([:event_place]) %>
      <%= display_field([:event_date]) %>

      <%= render :partial=>"pbcore/header", :locals => {:node=>"contributor"} %>
      <%= render :partial=>"pbcore/header", :locals => {:node=>"publisher"} %>

      <%= display_field([:note], {:multiple=>true}) %>

    </dl>
  </fieldset>

  <% # This is a hack that makes Hydra redirect to the edit page after a save %>
  <%= hidden_field_tag(:wf_step, "foo") %>

  <%= submit_tag 'Save Document', {:id => "submitDocument"} %>
<% end %>





