<%= form_tag url_for(:action=>"update", :controller=>"assets", :content_type=>"archival_video"),
      :method             => "put",
      :id                 => "properties",
      "data-resourceType" => "archival_video",
      "accept-charset"    => "utf-8" do %>

  <fieldset id="document_fields">
    <dl>
      <%= display_field([:full_title], { :name=>"Title" }) %>
      <%= display_field([:sub_title],  { :name=>"Subtitle", :multiple=>true}) %>
      <%= display_field([:alt_title],  { :name=>"Alt. Title", :multiple=>true}) %>
      <%= display_field([:episode],    { :multiple=>true}) %>

      <%= display_field([:language]) %>

      <dt>
        <label for="summary">Summary:</label>
      </dt>
      <dd class="field">
        <%= fedora_text_area(@document_fedora, "descMetadata", [:summary], :multiple=>FALSE) %>
      </dd>

      <dt>
        <label for="contents">Table of Contents:</label>
      </dt>
      <dd class="field">
        <%= fedora_text_area(@document_fedora, "descMetadata", [:contents], :multiple=>FALSE) %>
      </dd>

      <%= display_field([:coverage, :event],  { :name => "Event Location" }) %>
      <%= display_field([:coverage, :date],   { :name => "Event Date" }) %>
      <%= display_field([:note],              { :multiple=>true }) %>
      <%= display_field([:caption]) %>

      <%= display_field([:entity], { :multiple=>true}) %>
      <%= display_field([:era],    { :multiple=>true}) %>
      <%= display_field([:place],  { :multiple=>true}) %>
      <%= display_field([:event],  { :multiple=>true}) %>

      <%= render :partial=>"pbcore/header", :locals => {:node=>"contributor"} %>
      <%= render :partial=>"pbcore/header", :locals => {:node=>"publisher"} %>
      <%= render :partial=>"pbcore/header", :locals => {:node=>"genre"} %>
      <%= render :partial=>"pbcore/header", :locals => {:node=>"topic"} %>
      <%= render :partial=>"pbcore/header", :locals => {:node=>"series"} %>
    </dl>
  </fieldset>
  <%= submit_tag 'Save Document', {:id => "submitDocument"} %>
<% end %>





