<%= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :id=>"descriptive-metadata", :"data-resourceType"=>"archival_video", :"accept-charset"=>"utf-8") do -%>

  <%= hidden_field_tag("_method","put") %>

  <fieldset id="original_fields">
    <legend>Original Item</legend>
    <p class="legend-caption">Fields that describe the original item, such as the videocasette or tape.</p>
    <%= display_field([:creation_date], {:multiple=>false, :required=>true}) %>
    <%= display_field([:barcode], {:multiple=>false, :required=>false}) %>

    <p id="item_location_field" class="fedora-text-area">
      <%= fedora_field_label("descMetadata", [:repository], "Repository:") %>
      <%= fedora_text_area(@document_fedora, "descMetadata", [:repository], :multiple=>false, :required=>false) %>
    </p>

    <%= display_field([:format], {:multiple=>false, :required=>false}) %>
    <%= display_field([:standard], {:multiple=>false, :required=>false}) %>
    <%= display_field([:media_type], {:multiple=>false, :required=>false}) %>
    <%= display_field([:generation], {:multiple=>false, :required=>false}) %>
    <%= display_field([:language], {:multiple=>false, :required=>false}) %>
    <%= display_field([:colors], {:multiple=>false, :required=>false}) %>
  </fieldset>

  <fieldset id="archival_fields">
    <legend>Archival Information</legend>
    <p class="legend-caption">Use these fields to identify the item within its archival collection.</p>
    <%= display_field([:archival_collection], {:multiple=>false, :required=>false}) %>
    <%= display_field([:archival_series], {:multiple=>false, :required=>false}) %>
    <%= display_field([:collection_number], {:multiple=>false, :required=>false}) %>
    <%= display_field([:accession_number], {:multiple=>false, :required=>false}) %>
  </fieldset>

  <fieldset id="condition_fields">
    <legend>Item Condition</legend>
    <p class="legend-caption">Enter any relevant information about the condition of the original item or its usage restrictions.</p>
    <%= display_field([:usage], {:multiple=>false, :required=>false}) %>
    <%= display_field([:condition_note], {:multiple=>false, :required=>false}) %>
    <%= display_field([:cleaning_note], {:multiple=>false, :required=>false}) %>
  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= hidden_field_tag(:content_type,"archival_video") %>
  <%= submit_tag("Continue", :name=>"continue") %>

<% end %>
