<%= form_tag url_for(:action=>"update", :controller=>"assets", :content_type=>"archival_video"),
      :method             => "put",
      :id                 => "properties",
      "data-resourceType" => "archival_video",
      "accept-charset"    => "utf-8" do %>

  <fieldset id="title_fields">
    <dl>
      <%= display_field([:item, :carrier], { :name => "Carrier" }) %>
      <%= display_field([:item, :standard], { :name => "Standard" }) %>
      <%= display_field([:item, :barcode], { :name => "Barcode" }) %>
      <%= display_field([:item, :relation, :collection_name], { :name => "Collection Name" }) %>
      <%= display_field([:item, :relation, :collection_number], { :name => "Collection Number" }) %>
      <%= display_field([:item, :relation, :accession_number], { :name => "Accession Number" }) %>

      <dt>
        <label for="note">Note:</label>
      </dt>
      <dd class="field">
        <%= fedora_text_area(@document_fedora, "descMetadata", [:item, :note], :multiple=>FALSE) %>
      </dd>

    </dl>
  </fieldset>
  <%= submit_tag 'Save Original', {:id => "submitOriginal"} %>
<% end %>
