<%= form_for @afdoc, :url => archival_video_path(:wf_step=>params[:wf_step]), :html => {:class => 'form-vertical document_edit'} do |f| %>

  <fieldset id="contributors">
    <legend>
      Contributors <%= render_add_nodes_button "contributor" %>
    </legend>
    <p class="legend-caption">Click the button to add new contributors</p>
    <div id="contributors_form">
      <%= render :partial => "nodes/edit/contributor", :locals => { :document => @afdoc } %>
    </div>
  </fieldset>

  <fieldset id="publishers">
    <legend>
      Publishers <%= render_add_nodes_button "publisher" %>
    </legend>
    <p class="legend-caption">Click the button to add new publishers</p>
    <div id="publishers_form">
      <%= render :partial => "nodes/edit/publisher", :locals => { :document => @afdoc } %>
    </div>
  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= f.submit "Save Changes", :class => "btn btn-primary", :onclick => "submitOnChanged(event)" %>

<% end %>
