<%= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :id=>"descriptive-metadata", :"data-resourceType"=>"archival_video", :"accept-charset"=>"utf-8") do -%>

  <%= hidden_field_tag("_method","put") %>

  <fieldset id="contributors">
    <legend>Contributors</legend>
    <p class="legend-caption">Use the buttons on the left to add contributors and their roles</p>
    <%= render :partial=>"pbcore/header", :locals => {:node=>"contributor"} %>
  </fieldset>

  <fieldset id="publishers">
    <legend>Publishers</legend>
    <p class="legend-caption">Use the buttons on the left to add publishers and their roles</p>
    <%= render :partial=>"pbcore/header", :locals => {:node=>"publisher"} %>
  </fieldset>

  <%= hidden_field_tag(:wf_step,params["wf_step"]) %>
  <%= hidden_field_tag(:content_type,"archival_video") %>
  <%= submit_tag("Submit", :name=>"submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>

<% end %>

<h3 class="twiddle">Delete Fields</h3>
<%= delete_field_button %>

<% sidebar_items << capture do %>

      <h3 class="twiddle">Add Fields</h3>
      <ul>
        <!-- Buttons for inserting and deleting field sets -->
        <% ["contributor","publisher"].each do |type| %>
          <li>
          <%= form_tag url_for(:action=>"create", :asset_id=>@document[:id], :controller=>"pbcore", :content_type=>"archival_video", :node=>type) do %>
            <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
            <%= submit_tag "Add #{type}", {:id => "add#{type.capitalize}"} %>
          <% end %>
          </li>
        <% end %>
      </ul>

<% end %>





