<%= form_for @afdoc, :url => archival_video_path(:wf_step=>params[:wf_step]), :html => {:class => 'form-vertical document_edit'} do |f| %>

  <fieldset id="subjects">
    <legend>Library of Congress Subject Headings</legend>
    <%= render :partial => "shared/edit/field", :locals => { :t=>"lc_subject", :f=>f, :vals=>@afdoc.lc_subject, :multiple=>TRUE } %>
  </fieldset>

  <fieldset id="genres">
    <legend>LCGFT</legend>
    <p class="legend-caption">Library of Congress genre form terms</p>
    <%= render :partial => "shared/edit/field", :locals => { :t=>"lc_genre", :f=>f, :vals=>@afdoc.lc_genre, :multiple=>TRUE } %>
  </fieldset>

  <fieldset id="event_fields">
    <legend>
      Event Fields <%= render_add_nodes_button "event" %>
    </legend>
    <p class="legend-caption">
      Click the button to add additional events to this item such as date, place and series.
    </p>
    <div id="events_form">
      <%= render :partial => "nodes/edit/event", :locals => { :document => @afdoc } %>
    </div>
  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= f.submit "Save Changes", :class => "btn btn-primary", :onclick => "submitOnChanged(event)" %>

<% end %>