<%= form_for @afdoc, :url => archival_video_path, :html => {:class => 'form-vertical document_edit'} do |f| %>

  <fieldset id="required_title">
    <legend>Required Title</legend>
    <p class="legend-caption">A single, main title is required.  This may be the title of the event or program, it may be the title as it appears on the source tape</p>
    <%= f.label "Main Title", :class=>"field" %>
    <%= f.text_field :title, :name=>"document_fields[title]", :class=>"edit span6" %>
  </fieldset>

  <fieldset id="optional_titles">
    <legend>Optional Titles</legend>
    <p class="legend-caption">Additional title fields are optional, but you may add as many as needed.</p>
     <% ["alternative_title", "chapter", "episode", "title_label", "segment", "subtitle", "track", "translation"].each do |t| %>
      <%= f.label ( t == "title_label" ? "label" : t.to_sym ), :class=>"field" %>
      <%= render :partial => "shared/edit/field", :locals => { :t=>t, :f=>f, :vals=>@afdoc.send(t), :multiple=>TRUE } %>
    <% end %>
  </fieldset>

  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= f.submit "Save Changes", :class => "btn btn-primary", :onclick => "submitOnChanged(event)" %>

<% end %>