<%= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :id=>"descriptive-metadata", :"data-resourceType"=>"archival_video", :"accept-charset"=>"utf-8") do -%>

  <%= hidden_field_tag("_method","put") %>

  <fieldset id="required_title">
    <legend>Required Title</legend>
    <p class="legend-caption">A single, main title is required.  This may be the title of the event or program, it may be the title as it appears on the source tape</p>
    <%= display_field([:main_title], {:multiple=>false, :required=>true}) %>
  </fieldset>

  <fieldset id="optional_titles">
    <legend>Optional Titles</legend>
    <p class="legend-caption">Additional title fields are optional, but you may add as many as needed.</p>
    <%= display_field([:alternative_title], {:multiple=>true, :required=>false}) %>
    <%= display_field([:chapter], {:multiple=>true, :required=>false}) %>
    <%= display_field([:episode], {:multiple=>true, :required=>false}) %>
    <%= display_field([:label], {:multiple=>true, :required=>false}) %>
    <%= display_field([:segment], {:multiple=>true, :required=>false}) %>
    <%= display_field([:subtitle], {:multiple=>true, :required=>false}) %>
    <%= display_field([:track], {:multiple=>true, :required=>false}) %>
    <%= display_field([:translation], {:multiple=>true, :required=>false}) %>

  <fieldset id="description">
    <legend>Description</legend>
    <p class="legend-caption">Provide additional descriptive information as needed.</p>
    <p id="summary_field" class="fedora-text-area">
      <%= fedora_field_label("descMetadata", [:summary], "Summary:") %>
      <%= fedora_text_area(@document_fedora, "descMetadata", [:summary], :multiple=>true, :required=>false) %>
    </p>

    <p id="parts_list_field" class="fedora-text-area">
      <%= fedora_field_label("descMetadata", [:parts_list], "Parts List:") %>
      <%= fedora_text_area(@document_fedora, "descMetadata", [:parts_list], :multiple=>true, :required=>false) %>
    </p>

    <%= display_field([:note], {:multiple=>true, :required=>false}) %>

  </fieldset>

  <!--
    TODO: Add radio button here that allows you to change the workflow step.  If the workflow step
    is null, then the page will save and reload, allowing you to add additional fields.
  -->
  <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
  <%= hidden_field_tag(:content_type,"archival_video") %>
  <%= submit_tag("Continue", :name=>"continue") %>

<% end %>





