<h2 id="content" class="section-title">Video Files</h2>
<% parts = @video.videos[:original].count %>
<% (1..parts).each do |count| %>
  <% index = count - 1 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% if parts > 1 %>
          <th><i class="icon-fire"></i></th><th>Preservation File (part <%= count.to_s %>)</th><th>Access File (part <%= count.to_s %>)</th>
        <% else %>
          <th><i class="icon-fire"></i></th><th>Preservation File</th><th>Access File</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @video.videos[:original].first.field_names.each do |field| %>
      <% unless @video.videos[:original][index].send(field.to_sym).first.blank? and @video.videos[:h264][index].send(field.to_sym).first.blank? %>
        <tr>
          <th><%= field.gsub(/_/," ").capitalize %></th>
          <td><%= @video.videos[:original][index].send(field.to_sym).first %></td>
          <td><%= @video.videos[:h264][index].send(field.to_sym).first %> </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>