<%= render :partial=>'/flash_msg' %>
<%= form_tag create_node_path("contributor"), :id => "add_contributor", :class => "form-inline ajax_form", :method => :post do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add contributor</h3>
  </div>
  <div class="modal-body">
    <%= text_field_tag "name" %>
    <%= select_tag "role", options_for_select(Relators.marc.keys.sort) %>
    <%= submit_tag "Add", :id => "add_contributor_button" %>
  </div>
<% end %>