<%= render :partial=>'/flash_msg' %>
<%= form_tag node_path(params[:id], "publisher"), :id => "add_publisher", :class => "form-inline ajax_form", :method => :post do %>
  <div class="modal-header">
    <button type="button" class="close refresh_publishers" id="close_modal" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add publisher</h3>
  </div>
  <div class="modal-body">
    <%= text_field_tag "name" %>
    <%= select_tag "role", options_for_select(Rockhall.relators(:pbcore).keys.sort) %>
    <%= submit_tag "Add", :id => "add_publisher_button" %>
  </div>
<% end %>