<% navbar_items << capture do %>
  <%= render :partial => "catalog/search_form" %>
<% end %>

<div id="sidebar" class="span4">
  <%= render :partial=>'shared/gravatar' %>
</div>

<%= devise_error_messages! %>

<div id="content" class="span8">
  
  <div class="row-fluid">
    <div class="span4">
      <%= gravatar_image_tag(@user.email, :gravatar => { :size => 80 }, :class => "img-rounded pull-left") %>
      <div class="pull-right"><h2>Edit <%= resource_name.to_s.humanize %></h2></div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  
    <fieldset>
      <legend>Current fields</legend>
      <p>Make changes to the following fields.  To change your password, enter it twice for confirmation.</p>
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls"><%= f.email_field :email, :autofocus => true %></div>
      </div>

      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
      </div>
      
      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls"><%= f.password_field :password %></div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls"><%= f.password_field :password_confirmation %></div>
      </div>

    </fieldset>

    <fieldset>
      <legend>Current Password</legend>
      <p>Enter your current password to confirm changes</p>

      <div class="control-group">
        <%= f.label :current_password, :class => "control-label" %>
        <div class="controls"><%= f.password_field :current_password %></div>
      </div>

    </fieldset>

    <%= f.submit "Update", :class => "btn btn-primary" %>
  <% end %>

  <%= button_to "Delete User Account", registration_path(resource_name), 
        :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>
</div>
