<% navbar_items << capture do %>
  <%= render :partial => "catalog/search_form" %>
<% end %>

<div id="sidebar" class="span4">
  <%= render :partial=>'shared/gravatar' %>
</div>

<%= devise_error_messages! %>

<div id="content" class="span8">
  <h2>New User Registration</h2>
  
  <%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
    <fieldset>
      <legend>Required Fields</legend>
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls"><%= f.email_field :email, :autofocus => true %></div>
      </div>
      
      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls"><%= f.password_field :password %></div>
      </div>
  
      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls"><%= f.password_field :password_confirmation %></div>
      </div>
    </fieldset>
  
    <fieldset>
      <legend>Optional</legend>
      <p>Your name, otherwise we'll use your email to identify you in the activities feed.</p>
  
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
      </div>
    </fieldset>
  
    <%= f.submit "Sign up", :class => "btn btn-primary" %>
  <% end %>
</div>
