<% caption_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:caption=>caption_counter}]).first %>

<% if RAILS_ENV == "development" %>
  node: <%= caption_name %> <br/>
  counter: <%= caption_counter %> <br/>
<% end %>

<li>
  <dl class="caption node" id="<%= "caption_#{caption_counter}" %>">
    <dt>Caption</dt>
    <dd class="multi_inline caption">
      <ul>
        <li class="caption_name">
          <%= fedora_field_label("descMetadata", [:caption], "Closed Captioning:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:caption=>caption_counter}], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !caption_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:caption=>caption_counter}]) %>
          <!-- Need to find an automatic way of getting content_type -->
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "caption", caption_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= caption_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>