<%
  # On create (with AJAX): contributor_counter and contributor variables come from the controller
  # Eveything else: they come from the defaults in the render call
  contributor_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:contributor=>contributor_counter}, :name]).first
  base_id = "contributor_#{contributor_counter}"
%>

<li>
  <% if params[:action] == "edit" %>
    <!-- multiple needs to be explicitly set to FALSE. For some reason, it's getting set to TRUE -->
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:contributor=>contributor_counter}, :name], {:size=>"20", :multiple=>FALSE}) %>
    <%= contributor_select(contributor_counter) %>
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:contributor=>contributor_counter}, :role ], :hidden=>TRUE, :multiple=>FALSE) %>
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:contributor=>contributor_counter}, :role, :ref], :hidden=>TRUE, :multiple=>FALSE) %>
  <% else %>
    <%= display_field([{:contributor=>contributor_counter}, :name],       { :name=>"Contributor Name" }) %>
    <%= display_field([{:contributor=>contributor_counter}, :role],       { :name=>"Contributor Role" }) %>
    <%= display_field([{:contributor=>contributor_counter}, :role, :ref], { :name=>"Contributor Ref" }) %>
  <% end %>
</li>


