<% entity_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:entity=>entity_counter}]).first %>

<% if RAILS_ENV == "development" %>
  node: <%= entity_name %> <br/>
  counter: <%= entity_counter %> <br/>
<% end %>

<li>
  <dl class="entity node" id="<%= "entity_#{entity_counter}" %>">
    <dt>entity:</dt>
    <dd class="multi_inline entity">
      <ul>
        <li class="entity_name">
          <%= fedora_field_label("descMetadata", [:entity], "entity Name:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:entity=>entity_counter}], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !entity_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:entity=>entity_counter}]) %>
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "entity", entity_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= entity_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>