<% episode_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:episode=>episode_counter}]).first %>

<% if RAILS_ENV == "development" %>
  node: <%= episode_name %> <br/>
  counter: <%= episode_counter %> <br/>
<% end %>

<li>
  <dl class="episode node" id="<%= "episode_#{episode_counter}" %>">
    <dt>episode:</dt>
    <dd class="multi_inline episode">
      <ul>
        <li class="episode_name">
          <%= fedora_field_label("descMetadata", [:episode], "episode Name:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:episode=>episode_counter}], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !episode_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:episode=>episode_counter}]) %>
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "episode", episode_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= episode_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>