<% event_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:event=>event_counter}]).first %>

<% if RAILS_ENV == "development" %>
  node: <%= event_name %> <br/>
  counter: <%= event_counter %> <br/>
<% end %>

<li>
  <dl class="event node" id="<%= "event_#{event_counter}" %>">
    <dt>event:</dt>
    <dd class="multi_inline event">
      <ul>
        <li class="event_name">
          <%= fedora_field_label("descMetadata", [:event], "event Name:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:event=>event_counter}], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !event_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:event=>event_counter}]) %>
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "event", event_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= event_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>