<%
  # On create: series_counter and series variables come from the controller
  # On edit: they come from the defaults in the render call
  series_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:series=>series_counter}, :name]).first
  base_id = "series_#{series_counter}"
%>

<% #TODO: add relator terms %>

<% if RAILS_ENV == "development" %>
  node: <%= series_name %> <br/>
  counter: <%= series_counter %> <br/>
<% end %>

<li>
  <dl class="series node" id="<%= base_id %>">
    <dt>series:</dt>
    <dd class="multi_inline series">
      <ul>
        <li class="series_name">
          <%= fedora_field_label("descMetadata", [:series, :name], "series Name:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:series=>series_counter}, :name], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !series_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:series=>series_counter}]) %>
          <!-- Need to find an automatic way of getting content_type -->
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "series", series_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= series_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>
