<% sub_title_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:sub_title=>sub_title_counter}]).first %>

<% if RAILS_ENV == "development" %>
  node: <%= sub_title_name %> <br/>
  counter: <%= sub_title_counter %> <br/>
<% end %>

<li>
  <dl class="sub_title node" id="<%= "sub_title_#{sub_title_counter}" %>">
    <dt>sub_title:</dt>
    <dd class="multi_inline sub_title">
      <ul>
        <li class="sub_title_name">
          <%= fedora_field_label("descMetadata", [:sub_title], "sub_title Name:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:sub_title=>sub_title_counter}], :multiple=>false) %>
        </li>
        <% if (params[:action] == "edit" && !sub_title_name.empty?) %>
          <%= field_selectors_for("descMetadata", [{:sub_title=>sub_title_counter}]) %>
          <a class="destructive destroy_node"
             href="<%= asset_pbcore_path(@document_fedora.pid, "sub_title", sub_title_counter, { :content_type => "archival_video" } ) %>"
             title="Delete '<%= sub_title_name %>">
            Delete
          </a>
        <% end %>
      </ul>
    </dd>
  </dl>
</li>