<div class="well"><h1><%= @document["title_display"] %></h1></div>

<% @components = components_for_collection_id(@document.id) %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#collection" data-toggle="tab">Items in Collection</a></li>
  <% @components.each do |component| %>
    <li><a href="#<%= component.pid.gsub(/:/,"_") %>" data-toggle="tab"><%= component.title %></a></li>
  <% end %>
</ul>

<div id="collectionTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="collection">
    <table class="table table-striped table-condensed">
    <% collection_items(@document.id).each do |link| %>
      <tr><td><%= link.html_safe %></td></tr>
    <% end %>
    </table>
  </div>
  <% @components.each do |component| %>
    <div class="tab-pane" id="<%= component.pid.gsub(/:/,"_") %>">
      <table class="table table-striped table-condensed">
      <% component_items(component).each do |link| %>
        <tr><td><%= link.html_safe %></td></tr>
      <% end %>
      </table>
    </div>
  <% end %>
</div>