<div id="video_box" class="span6">
  <%= render_video_player %>
  <h2>Videos</h2>
  <div id="video_list"><%= render_file_list %></div>
</div>

<div id="document" class="<%= render_document_class %> span6">
  <div class="well"><%= render_document_heading(:h1).html_safe %></div>
  <%= render :partial => "catalog/bookmark_control", :locals => {:document => @document } %>
  <h3>Catalog Record</h2>
  <%= render :partial => "catalog/show_default", :locals => {:document => @document}  %>
  <h3>Review Information</h2>
  <%= render :partial => "shared/show/review" %>
  <h3>Permissions</h3>
  <%= render :partial => "shared/show/permissions" %>
  <% navbar_items << capture do %>
    <%= render_user_navbar(@document["active_fedora_model_s"].first.underscore.pluralize) %>
  <% end %>
</div>