<table class="table table-striped table-condensed">

  <tr>
    <th class="format">Format</th>
    <th class="title">Title</th>
    <th class="deposited">Deposited</th>
    <th class="reviewed">Reviewed</th>
    <th class="bookmark">Bookmark</th>
  </tr>

  <% @document_list.each_with_index do |document,counter| %>
    <tr>
      <td><%= render_icon document %></td>
      <td>
        <%= link_to_document(document, :label => document["title_ssm"].first, :counter => (counter + 1 + @response.params[:start].to_i)) %>
      </td>
      <td style="white-space: nowrap">
        <%= DateTime.parse(document.fetch(:system_create_dtsi,nil)).strftime("%Y-%m-%d") %>
      </td>
      <td style="text-align: center"><%= is_reviewed? document %></td>
      <td><%= render :partial => "catalog/bookmark_control", :locals => {:document => document } %></td>
    </tr>
  <% end %>

</table>