<tr>
  <td>
    <%= image_tag("rockhall/video_icon.png", :size=>"50x50") %>
  </td>
  <td>
    <%= link_to((document[:title_display].nil? ? "[No title]" : document[:title_display].first) , archival_video_path(document[:id])) %>
  </td>
  <td>
    <%= (document_type(document) || "Unknown") %>
  </td>
  <td>
    <%= DateTime.parse(document.fetch(:system_create_dt,nil)).to_time %>
  </td>
  <td>
    <%= get_review_status(document) %>
  </td>
  <td>
    <%= get_video_asset_count(document)%>
  </td>
</tr>
