<% navbar_items << capture do %>
  <%= render :partial => "catalog/search_form" %>
<% end %>

<%= link_to "Back to Users", users_path %>

<h1><%= @user.name.nil? ? @user.email : @user.name %></h1>

<%= render :partial => "users/info", :locals => { :user => @user } %>
<% @activities.each do |activity| %>
  <%= render_activity(activity) %>
<% end %>
