<% title_info_name = get_values_from_datastream(@document_fedora,'descMetadata', [:mods, {:subject=>title_info_counter}, :title_info]).first %>
<% base_id = "subject_#{title_info_counter}" %>

<% if RAILS_ENV == "development" %>
  counter: <%= title_info_counter %> <br/>
  name: <%= title_info_name %> <br/>
<% end %>

<li>
  <dl class="title_info subject" id="<%= base_id %>">
    <dt>Title Subject:</dt>
    <dd class="multi_inline title_info">
      <ul>
        <li class="title_info">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :title], "Title") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :title], :multiple=>false) %>
        </li>
        <li class="sub_title">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :sub_title], "Sub. Title") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :sub_title], :multiple=>false) %>
        </li>
         <li class="part_number">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_number], "Part Number") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_number], :multiple=>false) %>
        </li>
        <li class="part_name">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_name], "Part Name") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_name], :multiple=>false) %>
        </li>
      </ul>
      <% if ( (params[:action] == "edit" || params[:action] == "create") && !title_info_name.strip.empty? ) %>
        <%= field_selectors_for("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info]) %>
        <!-- Need to find an automatic way of getting content_type -->
        <a class="destructive destroy_subject" href="<%= asset_subject_path(@document_fedora.pid, "title_info", title_info_counter, { :content_type => "archival_image" } ) %>" title_info="Delete '<%= title_info_name %>'"> Delete</a>
      <% end %>
    </dd>
  </dl>
</li>
