<% personal_last_name = get_values_from_datastream(@document_fedora,'descMetadata', [:mods, {:subject=>personal_counter}, :personal, :last_name]).first %>
<% personal_first_name = get_values_from_datastream(@document_fedora,'descMetadata', [:mods, {:subject=>personal_counter}, :personal, :first_name]).first %>
<% personal_name = personal_last_name + " " + personal_first_name %>
<% base_id = "subject_#{personal_counter}" %>
<% if @document_fedora.class.respond_to?(:conference_relator_terms) %>
  <% choices = @document_fedora.class.conference_relator_terms %>
<% else %>
  <% choices = Hydra::ModsArticle.person_relator_terms %>
<% end %>

<% if RAILS_ENV == "development" %>
  counter: <%= personal_counter %> <br/>
  name: <%= personal_name %> <br/>
<% end %>

<li>
  <dl class="personal subject" id="<%= base_id %>">
    <dt>Personal Subject:</dt>
    <%# TODO: find out why this needs to be "person" in order for the ajax to work, and change for all other edit and show subject partials %>
    <dd class="multi_inline personal">
      <ul>
        <li class="name_first">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>personal_counter}, :personal, :first_name], "First Name") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>personal_counter}, :personal, :first_name], :multiple=>false) %>
        </li>
        <li class="name_last">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>personal_counter}, :personal, :last_name], "Last Name") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>personal_counter}, :personal, :last_name], :multiple=>false) %>
        </li>
        <li class="terms_of_address">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>personal_counter}, :personal, :terms_of_address], "Terms of Address:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>personal_counter}, :personal, :terms_of_address], :multiple=>false) %>
        </li>
        <li class="date">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>personal_counter}, :personal, :date], "Dates:") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>personal_counter}, :personal, :date], :multiple=>false) %>
        </li>
      </ul>
      <% if ( (params[:action] == "edit" || params[:action] == "create") && !personal_name.strip.empty? ) %>
        <%= field_selectors_for("descMetadata", [:mods, {:subject=>personal_counter}, :personal]) %>
        <!-- Need to find an automatic way of getting content_type -->
        <a class="destructive destroy_subject" href="<%= asset_subject_path(@document_fedora.pid, "personal", personal_counter, { :content_type => "archival_image" } ) %>" title="Delete '<%= personal_name %>'"> Delete</a>
      <% end %>
    </dd>
  </dl>
</li>

