<% conference_name = get_values_from_datastream(@document_fedora,'descMetadata', [:mods, {:subject=>conference_counter}, :conference, :namePart]).first %>
<% base_id = "subject_#{conference_counter}" %>

<% if RAILS_ENV == "development" %>
  counter: <%= conference_counter %> <br/>
  name: <%= conference_name %> <br/>
<% end %>

<li>
  <dl class="conference subject" id="<%= base_id %>">
    <dt>Conference Subject:</dt>
    <dd class="multi_inline conference">
      <ul>
        <li class="name">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>conference_counter}, :conference, :namePart], "Conference") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, {:subject=>conference_counter}, :conference, :namePart], :multiple=>false) %>
        </li>
      </ul>
      <% if ( (params[:action] == "edit" || params[:action] == "create") && !conference_name.strip.empty? ) %>
        <%= field_selectors_for("descMetadata", [:mods, {:subject=>conference_counter}, :conference]) %>
        <!-- Need to find an automatic way of getting content_type -->
        <a class="destructive destroy_subject" href="<%= asset_subject_path(@document_fedora.pid, "conference", conference_counter, { :content_type => "archival_image" } ) %>" title="Delete '<%= conference_name %>'"> Delete</a>
      <% end %>
    </dd>
  </dl>
</li>
