<% title_info_name = get_values_from_datastream(@document_fedora,'descMetadata', [:mods, {:subject=>title_info_counter}, :title_info, :title]).first %>
<% base_id = "subject_#{title_info_counter}" %>
<% unless title_info_name.empty? %>
  <dl class="title_info subject" id="<%= base_id %>">
    <dt>Title Subject:</dt>
    <dd class="multi_inline subject">
      <ul>
        <li class="title_info">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :title], "Title") %>
          <%= title_info_name %>
        </li>
        <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :sub_title]).first.empty? %>
          <li class="sub_title">
            <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :sub_title], "Sub. Title") %>
            <%= get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :sub_title]) %>
          </li>
        <% end %>
        <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_number]).first.empty? %>
          <li class="part_number">
            <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_number], "Part Number") %>
            <%= get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_number]) %>
          </li>
        <% end %>
        <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_name]).first.empty? %>
          <li class="part_name">
            <%= fedora_field_label("descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_name], "Part Name") %>
            <%= get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>title_info_counter}, :title_info, :part_name]) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>
