<h1><%= @video.main_title.first %></h1>

<h2 id="video" class="section-title">Video</h2>
<%= render_video_player %>

<h2 id="content" class="section-title">Information</h2>
<%= render :partial => "digital_videos/show/document" %>
<%= render :partial => "shared/show/rockhall" %>
<%= render :partial => "shared/show/review" %>

<% navbar_items << capture do %>
  <%= render_user_navbar("digital_videos") %>
  <%= video_links_dropdown %>
<% end %>