<div class="well"><h1><%= @afdoc.main_title.first %></h1></div>

<% player_column << capture do %>
  <%= render_video_player %>
  <% unless @afdoc.file_objects.empty? %>
    <%= render :partial => "external_videos/list" %>
  <% end %>
<% end %>

<h2 id="content" class="section-title">Information</h2>
<%= render :partial => "digital_videos/show/document" %>
<%= render :partial => "shared/show/rockhall" %>
<%= render :partial => "shared/show/review" %>

<% navbar_items << capture do %>
  <%= render_user_navbar("digital_videos") %>
  <%= video_links_dropdown %>
<% end %>