<% extra_head_content << capture do -%>
  <%= javascript_include_tag "rails.js" %>
  <%= csrf_meta_tag %>
<% end %>

<div class="document_viewer" id="cover_container">
  <div class="multipleEdit">

    <h2 class="section-title"><a href="#">Content</a></h2>
    <div id="document_editor">
      <%= render :partial => "archival_videos/edit/document", :locals => {:content_type => "archival_video"} %>
    </div>

    <h2 class="section-title"><a href="#">Original</a></h2>
    <div id="original_editor">
      <%= render :partial => "archival_videos/edit/original", :locals => {:content_type => "archival_video"} %>
    </div>

    <% if @document_fedora.file_objects.count > 0 %>
    <h2 class="section-title"><a href="#">Instantiations</a></h2>
    <dl>
      <fieldset id="all_videos">
        <legend>Videos</legend>
        <dl>
          <%= display_all_assets %>
        </dl>
      </fieldset>
    </dl>
    <% end %>

    <h2 class="section-title"><a href="#">Rockhall Metadata</a></h2>
    <div id="rockhall_editor">
      <%= render :partial => "archival_videos/edit/rockhall", :locals => {:content_type => "archival_video"} %>
    </div>

    <h2 class="section-title"><a href="#">Set Permissions</a></h2>
     <div id="permissions_editor">
      <%= render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id]} %>
    </div>

  </div>
</div>
<% sidebar_items << capture do %>
  <%= button_to "Delete this video", { :action => "delete", :id => @document[:id] },
          :confirm => "Are you sure?", :method => :delete %>
<% end %>
