<% extra_head_content << capture do -%>
  <%= javascript_include_tag "rails.js" %>
  <%= csrf_meta_tag %>
<% end %>

<div class="document_viewer" id="cover_container">
  <div class="multipleEdit">

    <h2 id="content" class="section-title">Content</h2>
    <div id="document_editor">
      <%= render :partial => "archival_videos/edit/document", :locals => {:content_type => "archival_video"} %>
      <h3 class="twiddle">Delete Fields</h3>
      <%= delete_field_button %>
    </div>

    <h2 id="original" class="section-title">Original</h2>
    <div id="original_editor">
      <%= render :partial => "archival_videos/edit/original", :locals => {:content_type => "archival_video"} %>
    </div>

    <% if @document_fedora.file_objects.count > 0 %>
    <h2 id="digital" class="section-title">Digital Files</h2>
    <dl>
      <fieldset id="all_videos">
        <dl>
          <%= display_all_assets %>
        </dl>
      </fieldset>
    </dl>
    <% end %>

    <h2 id="asset_review" class="section-title">Asset Review</h2>
    <div id="asset_review_editor">
      <%= render :partial => "archival_videos/edit/review", :locals => {:content_type => "archival_video"} %>
    </div>

    <h2 id="rockhall" class="section-title">Rockhall Metadata</h2>
    <div id="rockhall_editor">
      <%= render :partial => "archival_videos/edit/rockhall", :locals => {:content_type => "archival_video"} %>
    </div>

    <h2 id="permissions" class="section-title">Set Permissions</h2>
     <div id="permissions_editor">
      <%= render :partial => "permissions/permissions_form", :locals => {:document => document, :asset_id=>params[:id]} %>
    </div>

  </div>
</div>
<% sidebar_items << capture do %>

  <div class="fixed_sidebar">
    <div class="float_sidebar">
      <h3 class="twiddle">Navigation</h3>
      <%= toc_links %>
      <h3 class="twiddle">Add Fields</h3>
      <ul>
        <!-- Buttons for inserting and deleting field sets -->
        <% ["contributor","publisher"].each do |type| %>
          <li>
          <%= form_tag url_for(:action=>"create", :asset_id=>@document[:id], :controller=>"pbcore", :content_type=>"archival_video", :node=>type) do %>
            <%= submit_tag "Add #{type}", {:id => "add#{type.capitalize}"} %>
          <% end %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

<% end %>
