<div class="document_viewer" id="cover_container">

    <% if @document_fedora.file_objects.count > 0 %>
      <h2 id="video" class="section-title">Video</h2>
      <%= render :partial => "archival_videos/show/content" %>
    <% end %>

    <h2 id="content" class="section-title">Content</h2>
    <%= render :partial => "archival_videos/show/document", :locals => {:content_type => "archival_video"} %>

    <h2 id="original" class="section-title">Original</h2>
    <%= render :partial => "archival_videos/show/original", :locals => {:content_type => "archival_video"} %>

    <h2 id="rockhall" class="section-title">Rockhall</h2>
    <%= render :partial => "archival_videos/show/rockhall", :locals => {:content_type => "archival_video"} %>

    <h2 id="rockhall" class="section-title">Review Information</h2>
    <%= render :partial => "archival_videos/show/review", :locals => {:content_type => "archival_video"} %>

    <% if @document_fedora.file_objects.count > 0 %>
      <h2 id="files" class="section-title"><a href="#">All Files</a></h2>
      <%= render :partial => "archival_videos/show/all", :locals => {:content_type => "archival_video"} %>
    <% end %>

</div>

<% sidebar_items << capture do %>

  <div class="fixed_sidebar">
    <div class="float_sidebar">
      <h3 class="twiddle">Navigation</h3>
      <%= toc_links %>
    </div>
  </div>

<% end %>