<% if params[:files] %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#accordion").accordion({active: 1});
    });
  </script>
<% end %>


<% javascript_includes << "/plugin_assets/fluid-infusion/infusion-1.2-src/lib/jquery/ui/js/jquery.ui.accordion.js" %>
<% javascript_includes << ['custom', 'catalog/show', {:plugin=>:hydra_repository}] %>

<div class="document_viewer" id="cover_container">

  <div id="accordion">

    <% if @document_fedora.file_objects.count > 0 %>
      <h2 class="section-title"><a href="#">Video</a></h2>
      <%= render :partial => "archival_videos/show/content" %>
    <% end %>

    <h2 class="section-title"><a href="#">Content</a></h2>
    <%= render :partial => "archival_videos/show/document", :locals => {:content_type => "archival_video"} %>

    <h2 class="section-title"><a href="#">Original</a></h2>
    <%= render :partial => "archival_videos/show/original", :locals => {:content_type => "archival_video"} %>

    <h2 class="section-title"><a href="#">Rockhall</a></h2>
    <%= render :partial => "archival_videos/show/rockhall", :locals => {:content_type => "archival_video"} %>

    <% if @document_fedora.file_objects.count > 0 %>
      <h2 class="section-title"><a href="#">All Files</a></h2>
      <%= render :partial => "archival_videos/show/all", :locals => {:content_type => "archival_video"} %>
    <% end %>

  </div>

</div>
