<div class="well"><h1><%= @video.main_title.first %></h1></div>

<% unless @video.file_objects.empty? %>
  <% player_column << capture do %>
    <%= render_video_player %>
    <%= render :partial => "external_videos/list" %>
  <% end %>
<% end %>

<h2 id="content" class="section-title">Information</h2>
<%= render :partial => "archival_videos/show/document" %>
<%= render :partial => "archival_videos/show/original" %>
<%= render :partial => "shared/show/rockhall" %>
<%= render :partial => "shared/show/review" %>

<% navbar_items << capture do %>
  <%= render_user_navbar("archival_videos") %>
  <%= video_links_dropdown %>
<% end %>