<%-
  doc_title = (document_show_html_title.nil? || document_show_html_title.empty?) ? @document[:id] : document_show_html_title.first
  @page_title = "#{doc_title} - #{application_name}"
-%>

<%- sidebar_items << capture do -%>
  <ul class="nav nav-list">
    <li><span><i class="icon-arrow-left"></i><%= link_back_to_catalog :label=>'Return to search results' %></span></li>
    <%= edit_and_browse_links %>
  </ul>
<%- end -%>

<%- if @previous_document || @next_document -%>
<div class="well">
  <ul class="pager">
    <%- if @previous_document || @next_document -%>
      <li class="previous">
        <%= link_to_previous_document(@previous_document) %>
      </li>
    <%- end -%>
    <%- if session[:search][:counter].to_i > 0 -%>
      <li>Document <%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %></li>
    <%- end -%>
    <%- if @previous_document || @next_document -%>
      <li class="next">
        <%= link_to_next_document(@next_document)%>
      </li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<div id="document" class="<%= controller.action_name == "edit" ? "document_edit" : "document_show" %> <%= "combined_document_view" if session[:scripts] %>">
  <div id="<%= format_pid(@document[:id]) %>">
    <div class="document">
      <% if controller.action_name == "edit" %>
        <h2>Editing <%= doc_title %></h2>
      <%- else -%>
        <h2><%= doc_title %></h2>
      <%- end -%>
      <%= render_document_partial @document, params["action"] %>
    </div>
  </div>
</div>
<% if controller.action_name == "edit" %>
  <div class="delete-asset">
    <%= button_to("Delete This Item", {:action => :destroy, :controller => :"hydra/assets", :id => @document_fedora.pid}, :confirm => 'Are you sure?', :method => :delete )%>
  </div>
<% end %>
