<%= form_for @afdoc, :url => external_video_path, :html => {:class => 'form-vertical document_edit'} do |f| %>

  <fieldset id="date_fields">
    <legend>Date</legend>
    <p class="legend-caption">Enter the date the item was first created or filmed.  Use YYYY-MM-DD for the format.</p>
    <%= f.label :date, :class=>"field" %>
    <%= f.text_field :date, :name=>"document_fields[date][]", :value=>@afdoc.date.first, :class=>"edit span2" %>
  </fieldset>

  <fieldset id="original_fields">
    <legend>Original Item</legend>
    <p class="legend-caption">Fields that describe the original item, such as the videocasette or tape.</p>
    <%= f.label :standard, :class=>"field" %>
    <%= f.select :standard, ["", "NTSC", "PAL"], {}, {:name => "document_fields[standard][]"} %>
    <%= f.label :colors, :class=>"field" %>
    <%= f.select :colors, ["Color", "B&W", "Grayscale", "Tinted", "Toned"], {}, {:name => "document_fields[colors][]"} %>
    <%= f.label :generation, :class=>"field"  %>
    <%= f.text_field :generation, :name=>"document_fields[generation][]", :value=>@afdoc.generation.first, :class=>"pbcGen_auto edit span2", "data-provide".to_sym => "typeahead"  %>
    <%= f.label :format, :class=>"field"  %>
    <%= f.text_field :format, :name=>"document_fields[format][]", :value=>@afdoc.format.first, :class=>"insPhy_auto edit span2", "data-provide".to_sym => "typeahead"  %>
    <%= f.label :barcode, :class=>"field" %>
    <%= f.text_field :barcode, :name=>"document_fields[barcode][]", :value=>@afdoc.barcode.first, :class=>"edit span2" %>
    <%= f.label :language, :class=>"field" %>
    <%= f.text_field :language, :name=>"document_fields[language][]", :value=>@afdoc.language.first, :class=>"edit span2" %>
    <%= f.label :location, :class=>"field" %>
    <%= f.text_area :location, :name=>"document_fields[location][]", :value=>@afdoc.location.first, :rows => "5", :class=>"edit span4" %>
    <%= f.label :rights_summary, :class => "field" %>
    <%= f.text_field :rights_summary, :name=>"document_fields[rights_summary][]", :value=>@afdoc.rights_summary.first, :class=>"edit span2" %>    
  </fieldset>

  <fieldset id="condition_fields">
    <legend>Item Condition</legend>
    <p class="legend-caption">Enter any relevant information about the condition of the original item.</p>
    <%= f.label :condition, :class => "field" %>
    <%= f.text_field :condition, :name=>"document_fields[condition][]", :value=>@afdoc.condition.first, :class=>"edit span2" %> 
    <%= f.label :cleaning, :class => "field" %>
    <%= f.text_field :cleaning, :name=>"document_fields[cleaning][]", :value=>@afdoc.cleaning.first, :class=>"edit span2" %>
  </fieldset>

  <%= f.submit "Save Changes", :class => "btn btn-primary" %>

<% end %>