<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>content_type)%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="title_fields">
    <legend>Title Fields</legend>
    <input id="content_type" type="hidden" name="<%= content_type %>" value="<%= content_type %>" />
    <dl>
    
      <!-- Title -->
      <dt>
        <%= fedora_field_label("descMetadata", [:mods, :title_info, :main_title], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:mods, :title_info, :main_title], :multiple=>false) %>
      </dd>
      
      <!-- Subtitle -->
      <dt>
        <%= fedora_field_label("descMetadata", [:mods, :title_info, :sub_title], "Subtitle:") %>
      </dt>
      <dd class="sub_title">
        <%= fedora_text_field(@document_fedora, "descMetadata", [:mods, :title_info, :sub_title], :multiple=>false) %>
      </dd>
      
      <!-- Other Title -->
      <dt>
        <%= fedora_field_label("descMetadata", [:mods, :other_title_info, :other_title], "Other Title:") %>
      </dt>
      <dd class="other_title">
        <%= fedora_text_field(@document_fedora, "descMetadata", [:mods, :other_title_info, :other_title], :multiple=>false) %>
      </dd>
      
      <!-- Part Number -->
      <dt>
        <%= fedora_field_label("descMetadata", [:mods, :title_info, :part_number], "Part Number:") %>
      </dt>
      <dd class="part_number">
        <%= fedora_text_field(@document_fedora, "descMetadata", [:mods, :title_info, :part_number], :multiple=>false) %>
      </dd>      
      
      <!-- Part Name -->
      <dt>
        <%= fedora_field_label("descMetadata", [:mods, :title_info, :part_name], "Part Name:") %>
      </dt>
      <dd class="part_name">
        <%= fedora_text_field(@document_fedora, "descMetadata", [:mods, :title_info, :part_name], :multiple=>false) %>
      </dd>  

    </dl>
  </fieldset>
</form>
