<% if current_user %>
  <% if current_user.can_be_superuser? %>
    <% if current_user.is_being_superuser?(session) %>
      <li><%= link_to "Stop being superuser", superuser_path %></li>
    <% else %>
      <li><%= link_to "Become superuser", superuser_path %></li>
    <% end %>
  <% end %>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Log Out", destroy_user_session_path %></li>
      <li><%= link_to current_user.to_s, edit_user_registration_path %></li>
      <li><%= link_to 'Your Bookmarks', bookmarks_path %></li>
      <li><%= link_to "Saved Searches", saved_searches_path %></li>
    </ul>
  </li>

<% else %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
    <ul class="dropdown-menu navbar-serach" style="padding: 15px; padding-bottom: 0px;">
      <%= form_for("user", :url => user_session_path, :html=>{:class=>"form-inline"}) do |f| %>
        <%= f.text_field :email, {:placeholder => "Email"} %>
        <%= f.password_field :password, {:placeholder => "Password"} %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %><br/>
        <%= f.submit 'Sign in', {:class => "btn btn-primary span3"} %>
        <%= link_to "Forgot your password?", new_password_path('user') %>
      <% end %>
    </ul>
  </li>
<% end %>