<ul class="nav">

<% if current_user %>

    <%= render :partial=>"/add_assets_links" %>

    <% if current_user.can_be_superuser? %>
      <% if current_user.is_being_superuser?(session) %>
        <li><%= link_to "Stop being superuser", superuser_path %></li>
      <% else %>
        <li><%= link_to "Become superuser", superuser_path %></li>
      <% end %>
    <% end %>
    <li><%= link_to "Log Out", destroy_user_session_path %></li>
    <li><%= link_to current_user.to_s, edit_user_registration_path %></li>
    <li><%= link_to 'Your Bookmarks', bookmarks_path %></li>
    <li><%= link_to "Saved Searches", saved_searches_path %></li>
<% else %>

    <li><%= link_to 'Login', new_user_session_path %></li>

<% end %>

<li><%= link_to "Selected Items (#{session[:folder_document_ids] ? session[:folder_document_ids].length : 0})", folder_index_path %></li>
<li><%= link_to "Search History", search_history_path %></li>

</ul>